In [26]:
# Importar archivo
import pandas as pd

df = pd.read_csv('../data/shopping_trends_updated.csv')

print(f'Dimensiones del dataframe original {df.shape}')
df.head()

Dimensiones del dataframe original (3900, 18)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

Se crean nuevas variables `Total gastado` y `Cliente VIP` que pueden ser de utilidad para proponer una segmentación de clientes al área de Marketing. 

Por ejemplo: Una campaña de Fidelización con desceuntos exclusivos a los clientes que más gastan e incentivar a que continuen comprando.

In [27]:
# Total gastado: Se agrupan los Clientes por ID para sumar todas las compras que han hecho en esta nueva columna
df['Total gastado'] = df.groupby('Customer ID')['Purchase Amount (USD)'].transform('sum')

# Cliente VIP: Se compara la nueva columna 'Total gastado' para crear esta nueva columna booleana que indicará True si el cliente es parte del 50% que más gasta
df['Cliente VIP'] = df['Total gastado'] > df['Total gastado'].median()

print(f'Dimensiones del dataframe modificado {df.shape}')
df.sort_values(by='Total gastado', ascending=False).head()

Dimensiones del dataframe modificado (3900, 20)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases,Total gastado,Cliente VIP
2842,2843,28,Female,Coat,Outerwear,100,Arizona,L,Green,Fall,4.3,No,Standard,No,No,48,Debit Card,Quarterly,100,True
95,96,37,Male,Sneakers,Footwear,100,Missouri,L,Pink,Fall,3.8,Yes,Free Shipping,Yes,Yes,48,PayPal,Monthly,100,True
581,582,32,Male,Sweater,Clothing,100,Iowa,XL,Charcoal,Winter,2.7,Yes,Store Pickup,Yes,Yes,12,Bank Transfer,Every 3 Months,100,True
1421,1422,68,Male,Dress,Clothing,100,Pennsylvania,S,Gold,Spring,3.0,No,Standard,Yes,Yes,24,Bank Transfer,Fortnightly,100,True
3837,3838,45,Female,Hoodie,Clothing,100,New Mexico,M,Green,Spring,4.8,No,Free Shipping,No,No,33,Bank Transfer,Fortnightly,100,True

In [28]:
# Se cuenta el número de clientes VIP (Cliente VIP == True)
cantidad_clientes_vip = df['Cliente VIP'].sum()

# Se muestra el resultado
print("Cantidad de Clientes VIP (True):", cantidad_clientes_vip)

# ¿Qué elementos son los que más compran estos clientes?


clientes_vip = df[df['Cliente VIP'] == True]

# Contar las ocurrencias de cada producto
mas_comprado = clientes_vip['Item Purchased'].value_counts()

# Mostrar los productos más comprados
print("Productos más comprados por los clientes VIP:")
print(mas_comprado)

Cantidad de Clientes VIP (True): 1914
Productos más comprados por los clientes VIP:
Item Purchased
Shirt         91
Dress         88
Blouse        88
T-shirt       84
Pants         83
Sunglasses    83
Scarf         81
Hat           80
Shorts        80
Jewelry       80
Boots         80
Skirt         79
Belt          79
Shoes         77
Socks         74
Sandals       72
Gloves        71
Sweater       71
Backpack      70
Jacket        70
Coat          70
Handbag       68
Sneakers      66
Jeans         65
Hoodie        64
Name: count, dtype: int64

Como campaña se propone ofrecer desceuntos a los clientes VIP, en los productos más comprados, de acuerdo a la temporada (invierno o verano) en curso.  
Los principales 5 elementos que los clientes VIP llevan son: 
- Shirt         91
- Dress         88
- Blouse        88
- T-shirt       84
- Pants         83

Otra campaña podría considerar la información de la columna `Previous Purchases` que indica la cantidad de compras que ha tenido un cliente en la historia.

Para lo anterior, se crea la variable booleana `Cliente frecuente` que nos indica si el cliente corresponde al 50% que más veces ha compado

In [29]:
df['Cliente frecuente'] = df['Previous Purchases'] > df['Previous Purchases'].median()

# Se cuenta el número de clientes frecuentes (Cliente frecuente == True)
cantidad_clientes_frecuente = df['Cliente frecuente'].sum()

# Se muestra el resultado
print(f'Dimensiones del dataframe modificado 2 {df.shape}')
print("Cantidad de Clientes frecuentes (True):", cantidad_clientes_frecuente)

Dimensiones del dataframe modificado 2 (3900, 21)
Cantidad de Clientes frecuentes (True): 1935

La campaña podría consistir en crear programas de recompensas a los 1935 Clientes Frecuentes, ofreciendo algún sistema de acumulación de puntos para obtener descuentos adicionales en sus próximas compras

Ahora se procede a crear un nuevo notebook con visualizaciones para obtener interpretaciones intuitivas y más detalladas de los datos.